@import url('./reset.css');

#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  width: 90vw;
  margin: 0 2rem;
  text-align: center;
  display: grid;
  grid-template-areas:
    'header header'
    'aside main'
    'maincard maincard'
    'footer footer';
  grid-template-rows: 100px auto 1fr;
  grid-template-columns: 1fr 5fr;
  min-height: 100vh;
  gap: 1vh;
}

header {
  grid-area: header;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer {
  grid-area: footer;
  max-height: 5vh;
  height: 1rem;
  background-color: var(--primary-color);
}
aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;

  border-radius: 5px;
  border: 0.25px solid #cacaca;
  background: #fff;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3);
  padding-top: 10vh;
}
main {
  grid-area: main;
}
* {
  box-sizing: content-box;
}
